@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Webkit (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

/* Optional: Hide scrollbar for IE/Edge */
.scrollbar-hide {
  -ms-overflow-style: none;
}
/* Prevent scrollbar from breaking rounded corners */
.scroll-rounded {
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}